# MongoDB Configuration
MONGODB_URI=your_mongodb_uri_here

# JWT Configuration
JWT_SECRET=your_jwt_secret_here

# Email Configuration
EMAIL_USERNAME=your_email_here
EMAIL_PASSWORD=your_email_password_here

# Frontend URL
FRONTEND_URL=http://localhost:5173

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Server Configuration
PORT=5001
NODE_ENV=development 